# This file is part of the Aurelia workspace.
# SPDX-FileCopyrightText: 2026 Zivatar Limited
# SPDX-License-Identifier: Apache-2.0

.git
target
**/target
testing/peering/apps/*/Cargo.lock
tmp
tmp/**
publish
publish/**
*.log
.DS_Store
.idea
.vscode
.cache
node_modules
**/node_modules
